language: node
sudo: false
before_script:
  - wget -Ohugo.tgz https://github.com/spf13/hugo/releases/download/v0.14/hugo_0.14_linux_amd64.tar.gz
  - tar xzf hugo.tgz
  - mv hugo_0.14_linux_amd64/hugo_0.14_linux_amd64 ./hugo
  - git config --global user.email "info@solarmoon.pl"
  - git config --global user.name "SolarMoon"
  - git submodule foreach git checkout master
  - git submodule foreach git pull
script:
  - echo "$TRAVIS_BRANCH"
  - npm run build:js
  - npm run build:css
  - env PATH="$PATH:." bash ./build.sh
